{{ partial "header" . }}

<main>

    {{ partial "list-item" . }}

    <br> <div class="text-left">{{ .Content }}</div>

    {{ if and .Site.DisqusShortname (not .Params.disableComments) }}

        <h4 class="page-header">Comments</h4>

        {{ template "_internal/disqus.html" . }}

    {{ end }}
    
	{{ with .PrevInSection }}
	    <a class="icon pages-icon" href="{{ .Permalink }}" rel="prev">
    	    <i class="fa fa-arrow-left"></i>
        </a>
	{{ end }}
    {{ with .NextInSection }}
	    <a class="icon pages-icon" href="{{ .Permalink }}" rel="next">
    	    <i class="fa fa-arrow-right"></i>
	    </a>
	{{ end }}


</main>

{{ partial "footer.html" . }}
